
.pb-container{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999999
}

.pb-cover{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .05);
}

.pb-buttons{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.pb-button{
    background: #FFF;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
}


.pb-in .pb-buttons{
    animation: pb-easein .30s forwards;
    -webkit-animation: pb-easein .30s forwards;
}

.pb-out .pb-buttons{
    animation: pb-easeout .30s forwards;
    -webkit-animation: pb-easeout .30s forwards;
}

@keyframes pb-easein{
	from {
		transform: translate(0, 100%) translateZ(0);
	}
	to {
		transform: translate(0, 0) translateZ(0);
	}
}

@keyframes pb-easeout{
	from {
		transform: translate(0, 0) translateZ(0);
	}
	to {
		transform: translate(0, 100%) translateZ(0);
	}
}