.widget-ui-pushbutton{
	position:absolute;
	top:0;
	left:0;
	z-index:100;
	width:100%;
	height:100%;
}
.widget-ui-pushbutton-list{
	position:absolute;
	left: 0;
	bottom: 0; 
	z-index:101;
	width: 100%; 
	overflow-y:auto;
	background: #fff; 
	text-align: center; 
	color: #333;
}
.widget-ui-pushbutton-list>a.pushbutton-cancel,
.widget-ui-pushbutton-list>a.list-a{
	display:block;
	padding:15px; 
	border-top:1px solid #d4d4d4; 
	font-size: 16px;
	color:#333;
	cursor:pointer;
	white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
.widget-ui-pushbutton-list>a.pushbutton-cancel:active,
.widget-ui-pushbutton-list>a.list-a:active{
	background:#ccc;
	color:#fff;
}
.widget-ui-pushbutton-list>a.list-a:first-child{
	border:none;
}
.widget-ui-pushbutton-list>a.pushbutton-cancel{
	color:#6DA0F6;	
}
.pushbutton-in{
	display:block;
	animation:pushbuttonIn .35s forwards;
	-webkit-animation:pushbuttonIn .35s forwards;
}
@keyframes pushbuttonIn{
	from {
		background:rgba(0,0,0,0);
	}
	to {
		background:rgba(0,0,0,0.5);
	}
}
@-webkit-keyframes pushbuttonIn{
	from {
		background:rgba(0,0,0,0);
	}
	to {
		background:rgba(0,0,0,0.5);
	}
}
.pushbutton-out{
	animation:pushbuttonOut .35s forwards;
	-webkit-animation:pushbuttonOut .35s forwards;
}
@keyframes pushbuttonOut{
	from {
		background:rgba(0,0,0,0.5);
	}
	to {
		background:rgba(0,0,0,0);
	}
}
@-webkit-keyframes pushbuttonOut{
	from {
		background:rgba(0,0,0,0.5);
	}
	to {
		background:rgba(0,0,0,0);
	}
}
.pushbutton-in .widget-ui-pushbutton-list{
    animation:pushbuttonUlIn .35s forwards;
    -webkit-animation:pushbuttonUlIn .35s forwards;
}
@keyframes pushbuttonUlIn{
	from {
		-webkit-transform: translate(0, 100%) translateZ(0);
		transform: translate(0, 100%) translateZ(0);
	}
	to {
		-webkit-transform: translate(0, 0) translateZ(0);
		transform: translate(0, 0) translateZ(0);
	}
}
@-webkit-keyframes pushbuttonUlIn{
	from {
		-webkit-transform: translate(0, 100%) translateZ(0);
		transform: translate(0, 100%) translateZ(0);
	}
	to {
		-webkit-transform: translate(0, 0) translateZ(0);
		transform: translate(0, 0) translateZ(0);
	}
}
.pushbutton-out .widget-ui-pushbutton-list{
    animation:pushbuttonUlOut .35s forwards;
    -webkit-animation:pushbuttonUlOut .35s forwards;
}
@keyframes pushbuttonUlOut{
	from {
		-webkit-transform: translate(0, 0) translateZ(0);
		transform: translate(0, 0) translateZ(0);
	}
	to {
		-webkit-transform: translate(0, 100%) translateZ(0);
		transform: translate(0, 100%) translateZ(0);
	}
}
@-webkit-keyframes pushbuttonUlOut{
	from {
		-webkit-transform: translate(0, 0) translateZ(0);
		transform: translate(0, 0) translateZ(0);
	}
	to {
		-webkit-transform: translate(0, 100%) translateZ(0);
		transform: translate(0, 100%) translateZ(0);
	}
}